{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <h1 class="ml-4 mt-2 font-creepy text-6xl leading-none">MadTodos</h1>

    <div class="mx-4 my-16 lg:mx-0 lg:my-32">
        <div class="mx-auto max-w-xl bg-gray-100 shadow-xl p-4 rounded">
            {% for task in tasks %}
                <div class="py-4 {% if not loop.last %} border-b border-b-blue-500 {% endif %}">
                    <div>
                        <a class="font-sans font-hairline text-lg lg:text-2xl text-blue-800" href="{{ path('task_show', {'id': task.id}) }}">{{ task.name }}</a>
                    </div>
                    <div class="font-serif text-blue-900">
                        {{ task.description }}
                    </div>
                </div>
            {% else %}
                EMPTY
            {% endfor %}
        </div>
    </div>





    <table class="mt-64">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Completed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.completed ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('task_show', {'id': task.id}) }}">show</a>
                    <a href="{{ path('task_edit', {'id': task.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('task_new') }}">Create new</a>
{% endblock %}
